{% extends "layout-sidebar.html" %}
{% block content %}

<h1>Category: {{ category.name }} </h1>
{% for p in projects %}
    <div class="row">
        <div class="col-sm-4">
            <img src="{{url_for('showThumbnail',item_id=p.id)}}" width="150" height="80"/>
        </div>
        <div class="col-sm-8">
            <b>{{p.project_title}}</b></br>
            Client: {{p.client}}
            </br>
            <a href="{{url_for('catalogItem', 
                item_id=p.id)}}">Read More</a>
        </div>
    </div>
    </br>
{% endfor %}
  
{% endblock %}

    